In [13]:
!pip -q install pandas

In [14]:
import pandas as pd
import json
from datetime import datetime

In [15]:
flight_cols = [
    "FlightDate",
    "Quarter",
    "Year",
    "Month",
    "DayofMonth",
    "DepTime",
    "DepDel15",
    "CRSDepTime",
    "DepDelayMinutes",
    "Origin",
    "Dest",
    "ArrTime",
    "CRSArrTime",
    "ArrDel15",
    "ArrDelayMinutes",
]

In [16]:
airports = ["ATL", "CLT", "DEN", "DFW", "EWR", "IAH", "JFK", "LAS", "LAX", "MCO", "MIA", "ORD", "PHX", "SEA", "SFO"]

def load_flight_data(year):
    flight_data = pd.DataFrame()
    for month in range(1, 13):
        data_path = f"flight_data/{year}"
        file_path = f"{data_path}/On_Time_On_Time_Performance_{year}_{month}.csv"
        try:
            df = pd.read_csv(file_path)
            df = df[(df["Origin"].isin(airports)) & (df["Dest"].isin(airports))]
            df = df[flight_cols]
            flight_data = pd.concat([flight_data, df], ignore_index=True)
        except FileNotFoundError:
            print(f"File not found: {file_path}")
    return flight_data

In [17]:
flight_data_2016 = load_flight_data(2016)
flight_data_2017 = load_flight_data(2017)

flight_data = pd.concat([flight_data_2016, flight_data_2017], ignore_index=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_16488\4155471070.py:9: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [18]:
flight_data

,FlightDate,Quarter,Year,Month,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,Origin,Dest,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,2016-01-01,1,2016,1,1,741.0,0.0,745,0.0,SEA,JFK,1610.0,1602,0.0,8.0
1,2016-01-02,1,2016,1,2,737.0,0.0,745,0.0,SEA,JFK,1613.0,1602,0.0,11.0
2,2016-01-03,1,2016,1,3,743.0,0.0,745,0.0,SEA,JFK,1547.0,1602,0.0,0.0
3,2016-01-04,1,2016,1,4,737.0,0.0,745,0.0,SEA,JFK,1551.0,1602,0.0,0.0
4,2016-01-05,1,2016,1,5,708.0,0.0,710,0.0,SEA,JFK,1524.0,1527,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877291,2017-12-17,4,2017,12,17,1024.0,0.0,1030,0.0,ORD,IAH,1314.0,1326,0.0,0.0
1877292,2017-12-17,4,2017,12,17,1148.0,0.0,1156,0.0,LAX,EWR,1939.0,2017,0.0,0.0
1877293,2017-12-17,4,2017,12,17,739.0,0.0,737,2.0,IAH,DEN,904.0,909,0.0,0.0
1877294,2017-12-17,4,2017,12,17,1632.0,0.0,1638,0.0,DFW,DEN,1727.0,1747,0.0,0.0
1877295,2017-12-17,4,2017,12,17,1007.0,0.0,1008,0.0,MCO,EWR,1222.0,1245,0.0,0.0

In [50]:
weather_cols = [
    "date",
    "time",
    "airport",
    "tempF",
    "WindSpeedKmph",
    "WindDirDegree",
    "WeatherCode",
    "precipMM",
    "Visibilty",
    "Pressure",
    "Cloudcover",
    "DewPointF",
    "WindGustKmph",
    "Humidity",
]

In [64]:
def load_weather_data(year):
  weather_data = pd.DataFrame()
  for airport in airports:
    for month in range(1, 13):
      data_path = f"weather_data/{airport}"
      file_path = f"{data_path}/{year}-{month}.json"
      try:
        with open(file_path, "r") as f:
          try:
            data = json.load(f)
            weather_data_month = data.get('data')
            if weather_data_month:
              weather_list = weather_data_month.get('weather')
              if weather_list:
                df = pd.DataFrame(weather_list)
                df['airport'] = airport
                weather_data = pd.concat([weather_data, df], ignore_index=True)
          except json.JSONDecodeError:
            print(f"Error parsing JSON file: {file_path}")
            continue
      except FileNotFoundError:
        print(f"File not found: {file_path}")
  return weather_data

In [65]:
weather_data_2016 = load_weather_data(2016)
weather_data_2017 = load_weather_data(2017)

weather_data = pd.concat([weather_data_2016, weather_data_2017], ignore_index=True)

In [49]:
weather_data

,mintempC,maxtempF,sunHour,mintempF,maxtempC,hourly,totalSnow_cm,date,astronomy,uvIndex,airport
0,5,51,7.5,42,11,"[{'windspeedKmph': '11', 'FeelsLikeF': '46', '...",0.0,2016-01-01,"[{'moon_phase': 'Waning Gibbous', 'moonrise': ...",0,ATL
1,2,48,9.0,35,9,"[{'windspeedKmph': '15', 'FeelsLikeF': '34', '...",0.0,2016-01-02,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0,ATL
2,3,51,7.5,38,11,"[{'windspeedKmph': '10', 'FeelsLikeF': '37', '...",0.0,2016-01-03,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0,ATL
3,-1,46,9.5,31,8,"[{'windspeedKmph': '13', 'FeelsLikeF': '37', '...",0.0,2016-01-04,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0,ATL
4,1,43,10.0,33,6,"[{'windspeedKmph': '12', 'FeelsLikeF': '28', '...",0.0,2016-01-05,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0,ATL
...,...,...,...,...,...,...,...,...,...,...,...
10960,8,48,6.8,46,9,"[{'windspeedKmph': '6', 'FeelsLikeF': '49', 'w...",0.0,2017-12-27,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0,SFO
10961,6,49,6.8,43,9,"[{'windspeedKmph': '5', 'FeelsLikeF': '48', 'w...",0.0,2017-12-28,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0,SFO
10962,9,59,9.8,48,15,"[{'windspeedKmph': '8', 'FeelsLikeF': '51', 'w...",0.0,2017-12-29,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0,SFO
10963,5,53,7.8,41,12,"[{'windspeedKmph': '6', 'FeelsLikeF': '52', 'w...",0.0,2017-12-30,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0,SFO
10964,10,54,8.0,50,12,"[{'windspeedKmph': '5', 'FeelsLikeF': '51', 'w...",0.0,2017-12-31,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0,SFO

In [ ]:
weather_data['hourly'][0]